body {
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title {
  margin-top: 0;
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.button {
  min-width: 200px;
  border: none;
  padding: 10px 32px;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.logo-header, .logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
}

@media screen and (min-width: 1200px) {
  .logo-header, .logo-footer {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo-header .logo__excerpt, .logo-footer .logo__excerpt {
  color: #2196f3;
}

.logo-header {
  color: #000000;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  color: #ffffff;
}

.page-header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .site-nav {
    min-height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  fill: currentColor;
}

.menu-button:hover, .menu-button:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 60px 0;
    text-align: center;
    background-color: #ffffff;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: top right;
            transform-origin: top right;
    -webkit-transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-container.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-container {
    margin-left: 93px;
  }
}

.list-nav {
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .list-nav {
    margin-bottom: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.list-nav__item:not(:last-child) {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .list-nav__item:not(:last-child) {
    margin-bottom: 0px;
    margin-right: 50px;
  }
}

.list-nav__link {
  position: relative;
  color: #212121;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16px;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.list-nav__link:hover, .list-nav__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .list-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.list-nav__link--current {
  color: #2196f3;
}

.list-nav__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  -webkit-animation-name: animationName;
          animation-name: animationName;
  -webkit-animation-duration: 3500ms;
          animation-duration: 3500ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@media screen and (min-width: 768px) {
  .list-nav__link--current::after {
    bottom: -1px;
  }
}

@-webkit-keyframes animationName {
  0% {
    -webkit-transform: scalex(0);
            transform: scalex(0);
  }
  50% {
    -webkit-transform: scalex(1.2);
            transform: scalex(1.2);
  }
  100% {
    -webkit-transform: scalex(0);
            transform: scalex(0);
  }
}

@keyframes animationName {
  0% {
    -webkit-transform: scalex(0);
            transform: scalex(0);
  }
  50% {
    -webkit-transform: scalex(1.2);
            transform: scalex(1.2);
  }
  100% {
    -webkit-transform: scalex(0);
            transform: scalex(0);
  }
}

@media screen and (max-width: 1199px) {
  .address-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.address-nav__link {
  color: #757575;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.address-nav__link:hover, .address-nav__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .address-nav__link {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16px;
  }
}

@media screen and (min-width: 1200px) {
  .address-nav__link {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    line-height: 1.14;
  }
}

.address-nav__link + .address-nav__link {
  margin-top: 16px;
}

@media screen and (min-width: 768px) {
  .address-nav__link + .address-nav__link {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .address-nav__link + .address-nav__link {
    margin-top: 0;
    margin-left: 30px;
  }
}

.address-nav__icon-envelope,
.address-nav__icon-smartphone {
  margin-right: 10px;
  --color1: currentColor;
}

@media screen and (min-width: 768px) {
  .address-nav__icon-envelope,
  .address-nav__icon-smartphone {
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .address-nav__icon-envelope,
  .address-nav__icon-smartphone {
    margin-right: 10px;
  }
}

.address-nav__icon-envelope {
  width: 16px;
  height: 12px;
}

@media screen and (min-width: 768px) {
  .address-nav__icon-envelope {
    width: 14px;
    height: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .address-nav__icon-envelope {
    width: 16px;
    height: 12px;
  }
}

.address-nav__icon-smartphone {
  width: 10px;
  height: 15px;
}

@media screen and (min-width: 768px) {
  .address-nav__icon-smartphone {
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .address-nav__icon-smartphone {
    width: 10px;
    height: 16px;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}

.flex-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .flex-footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
  }
}

.box-address-footer {
  margin-bottom: 60px;
}

.address-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.address-footer__street {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address-footer__street {
    margin-bottom: 9px;
  }
}

.address-footer__link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.address-footer__link:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address-footer__link:not(:last-child) {
    margin-bottom: 9px;
  }
}

.box-socials {
  width: 206px;
}

@media screen and (max-width: 767px) {
  .box-socials {
    margin-bottom: 60px;
  }
}

.box-socials__caption, .form-footer__caption {
  display: inline-block;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.socials-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials-footer__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-footer__link:hover, .socials-footer__link:focus {
  background-color: #2196f3;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.socials-footer__icon {
  width: 20px;
  height: 20px;
  --color4: #ffffff;
}

@media screen and (min-width: 768px) {
  .form-footer {
    margin: auto;
  }
}

.form-footer__input {
  width: 358px;
  width: 100%;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-right: 12px;
  background-color: transparent;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .form-footer__input {
    margin-bottom: 20px;
  }
}

.button__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  vertical-align: middle;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filter__item {
    margin-bottom: 15px;
  }
}

.filter__button {
  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;
  color: #212121;
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.filter__button:hover, .filter__button:focus {
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  background-color: #2196f3;
}

@media screen and (min-width: 768px) {
  .project-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.project-container__item {
  margin-bottom: 30px;
  background-color: #ffffff;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .project-container__item:last-child {
    margin-bottom: 0;
  }
}

.project-container__item:hover, .project-container__item:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay__text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  margin: 0;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-container__item:hover .overlay__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.wrapper {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.wrapper__headline {
  margin-top: 0;
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.wrapper__subtitle {
  margin-top: 0;
  margin-bottom: 0;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
/*# sourceMappingURL=main.css.map */