@import "./base/fonts";
@import "./base/modern-normalize";

@import "./utils/variables";
@import "./utils/mixins";
@import "./base/common";
@import "./components/container";
@import "./components/section";
@import "./utils/visually-hidden";
@import "./layout/logo";

// header
@import "./layout/header";
@import "./components/menu";
@import "./components/list-nav";
@import "./components/address-nav";

// main
@import "./layout/hero";
@import "./components/features-section";
@import "./components/our-works-section";
@import "./components/our-team-section";
@import "./components/our-team-section\(Animation-card\)";
@import "./components/permanent-clients-section";

// footer
@import "./layout/footer";
@import "./components/footer-address";
@import "./components/footer-socials";
@import "./components/footer-form";

// modal
@import "./components/modal";
@import "./utils/placeholders";
@import "./components/modal-forms";

// portfolio
@import "./components/portfolio/buttons";
@import "./components/portfolio/list-projects";
