.footer {
	padding-top: 60px;
	padding-bottom: 60px;
	background: #2f303a;
}

.footer__flex {
	@include flexCenterSocials();
	text-align: center;

	@media screen and(min-width: 768px) {
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-around;
		align-items: normal;
	}

	@media screen and(min-width: 1200px) {
		justify-content: space-between;
		text-align: start;
	}
}
