.footer {
	padding-top: 60px;
	padding-bottom: 60px;
	background: #2f303a;
}

.footer__flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	@include min_768 {
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-around;
		align-items: normal;
	}

	@include min_1200 {
		justify-content: space-between;
		text-align: start;
	}
}
