.page-header {
	position: relative;
	border-bottom: 1px solid #ececec;
}

.site-nav {
	@include max_767 {
		min-height: 60px;
		@include flexCenter(flex, space-between);
	}

	@include min_768 {
		display: flex;
		align-items: center;
	}
}
