.hero {
	@include flexCenter(flex);
	flex-direction: column;

	max-width: 480px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;

	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-tel.jpg);
	background-position: center;
	background-size: 480px 400px;
	background-color: rgba(47, 48, 58, 0.8);

	@media screen and (min-device-pixel-ratio: 2),
		screen and (min-resolution: 192dpi),
		screen and (min-resolution: 2dppx) {
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-tel@2x.jpg);
	}

	@media screen and (min-device-pixel-ratio: 3),
		screen and (min-resolution: 288dpi),
		screen and (min-resolution: 3dppx) {
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-tel@3x.jpg);
	}

	// tablet
	@include min_768 {
		max-width: 768px;

		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-tab.jpg);
		background-size: 768px 400px;
		background-color: rgba(47, 48, 58, 0.8);

		@media screen and (min-device-pixel-ratio: 2),
			screen and (min-resolution: 192dpi),
			screen and (min-resolution: 2dppx) {
			background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-tab@2x.jpg);
		}

		@media screen and (min-device-pixel-ratio: 3),
			screen and (min-resolution: 288dpi),
			screen and (min-resolution: 3dppx) {
			background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-tab@3x.jpg);
		}
	}

	// desktop
	@include min_1200 {
		max-width: 1600px;
		height: 600px;

		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header.jpg);
		background-size: 1600px 600px;
		background-color: rgba(47, 48, 58, 0.8);

		@media screen and (min-device-pixel-ratio: 2),
			screen and (min-resolution: 192dpi),
			screen and (min-resolution: 2dppx) {
			background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header@2x.jpg);
		}

		@media screen and (min-device-pixel-ratio: 3),
			screen and (min-resolution: 288dpi),
			screen and (min-resolution: 3dppx) {
			background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header@3x.jpg);
		}
	}
}

.hero__title {
	margin-top: 0px;
	margin-bottom: 30px;

	color: $background-color;

	font-weight: 900;
	font-size: 26px;
	line-height: 1.6;

	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	@include min_1200 {
		font-size: 44px;
		line-height: 1.4;
	}
}
