.address-nav {
	@include max_1199 {
		display: flex;
		flex-direction: column;
	}
}

.address-nav__link {
	color: $primery-text-color;

	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.16;
	letter-spacing: 0.02em;

	transition-property: color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-delay: 0;

	&:hover,
	&:focus {
		color: $accent-color;
	}

	@include min_768 {
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		line-height: 1.16px;
	}

	@include min_1200 {
		@include flexCenter();
		font-size: 14px;
		line-height: 1.14;
	}
}

.address-nav__link + .address-nav__link {
	margin-top: 16px;

	@include min_768 {
		margin-top: 10px;
	}

	@include min_1200 {
		margin-top: 0;
		margin-left: 30px;
	}
}

.address-nav__icon-envelope,
.address-nav__icon-smartphone {
	margin-right: 10px;
	--color1: currentColor;

	@include min_768 {
		margin-right: 8px;
	}

	@include min_1200 {
		margin-right: 10px;
	}
}

.address-nav__icon-envelope {
	width: 16px;
	height: 12px;

	@include min_768 {
		width: 14px;
		height: 10px;
	}

	@include min_1200 {
		width: 16px;
		height: 12px;
	}
}

.address-nav__icon-smartphone {
	width: 10px;
	height: 15px;

	@include min_768 {
		width: 10px;
		height: 14px;
	}

	@include min_1200 {
		width: 10px;
		height: 16px;
	}
}
