.address-nav {
  @media screen and(max-width: 1199px) {
    display: flex;
    flex-direction: column;
  }
}

.address-nav__link {
  color: $primery-text-color;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and(min-width:768px) {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16px;
  }

  @media screen and(min-width:1200px) {
    @include flexCenter();
    font-size: 14px;
    line-height: 1.14;
  }
}

.address-nav__link + .address-nav__link {
  margin-top: 16px;

  @media screen and(min-width: 768px) {
    margin-top: 10px;
  }

  @media screen and(min-width: 1200px) {
    margin-top: 0;
    margin-left: 30px;
  }
}

.address-nav__icon-envelope,
.address-nav__icon-smartphone {
  margin-right: 10px;
  --color1: currentColor;

  @media screen and(min-width: 768px) {
    margin-right: 8px;
  }

  @media screen and(min-width: 1200px) {
    margin-right: 10px;
  }
}

.address-nav__icon-envelope {
  width: 16px;
  height: 12px;

  @media screen and(min-width: 768px) {
    width: 14px;
    height: 10px;
  }

  @media screen and(min-width: 1200px) {
    width: 16px;
    height: 12px;
  }
}

.address-nav__icon-smartphone {
  width: 10px;
  height: 15px;

  @media screen and(min-width: 768px) {
    width: 10px;
    height: 14px;
  }

  @media screen and(min-width: 1200px) {
    width: 10px;
    height: 16px;
  }
}
