.container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;

	@include min_480 {
		width: 480px;
	}

	@include min_768 {
		width: 768px;
	}

	@include min_1200 {
		width: 1200px;
	}
}
