.footer__box-address {
	@include max_1199 {
		margin-bottom: 60px;
	}
}

.address-footer {
	display: flex;
	flex-direction: column;

	color: $background-color;

	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.7;
}

.address-footer__street {
	margin-bottom: 8px;

	@include min_1200 {
		margin-bottom: 9px;
	}
}

.address-footer__link {
	color: rgba(255, 255, 255, 0.6);

	font-weight: 400;
	font-size: 14px;
	line-height: 1.7;
}

.address-footer__link:not(:last-child) {
	margin-bottom: 8px;

	@include min_1200 {
		margin-bottom: 9px;
	}
}
