.form-footer {
	@include min_768_a_max_1199 {
		margin: auto;
	}
}

.form-footer__caption {
	@extend .box-socials__caption;
}

.form-footer__input {
	width: 100%;
	padding: 15px 16px;

	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	margin-right: 12px;

	background-color: transparent;
	color: $background-color;

	@include max_1199 {
		margin-bottom: 20px;
	}

	@include min_1200 {
		width: 358px;
	}
}

.button__icon {
	width: 24px;
	height: 24px;
	margin-left: 10px;

	vertical-align: middle;
}
