.menu-button {
	display: inline-flex;
	padding: 0;
	margin: 0;
	border: none;
	background-color: transparent;

	fill: currentColor;

	&:hover,
	&:focus {
		color: $accent-color;
	}

	@include min_768 {
		display: none;
	}
}

.menu-button .icon-cross {
	display: none;
}

.menu-button.is-open .icon-cross {
	display: block;
}

.menu-button.is-open .icon-menu {
	display: none;
}

.menu-container {
	@include max_767 {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		padding: 60px 0;

		text-align: center;
		background-color: $background-color;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);

		z-index: 99;

		opacity: 0;
		visibility: hidden;
		pointer-events: none;

		transform: scale(0.4);
		transform-origin: top right;

		transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
			visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);

		&.is-open {
			opacity: 1;
			visibility: visible;
			pointer-events: visible;
			transform: scale(1);
		}
	}

	@include min_768 {
		@include flexCenter(flex, space-between);
		flex-grow: 1;
		margin-left: 88px;
	}

	@include min_1200 {
		margin-left: 93px;
	}
}
