.filter {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 25px;

	@include min_768 {
		justify-content: center;
		margin-bottom: 30px;
	}

	@include min_1200 {
		margin-bottom: 50px;
	}
}

.filter__item {
	&:not(:last-child) {
		margin-right: 8px;
	}

	@include max_767 {
		margin-bottom: 15px;
	}
}

.filter__button {
	padding: 6px 22px;
	border-radius: 4px;
	border: transparent;

	color: $titles-text-color;
	background: $secondary-background-color;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	letter-spacing: 0.03em;

	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

	cursor: pointer;

	&:hover,
	&:focus {
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
		color: $background-color;
		background-color: $accent-color;
	}
}
