.project-container {
	@media screen and(min-width: 768px) {
		display: flex;
		flex-wrap: wrap;
	}
}

.project-container__item {
	margin-bottom: 30px;
	background-color: $background-color;

	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

	@media screen and(max-width: 767px) {
		&:last-child {
			margin-bottom: 0;
		}
	}

	&:hover,
	&:focus {
		box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
	}
}

.overlay {
	position: relative;
	overflow: hidden;
}

.overlay__text {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	padding: 63px 24px;
	margin: 0;

	color: $background-color;
	background-color: rgba(33, 150, 243, 0.9);

	font-weight: 400;
	font-size: 18px;
	line-height: 1.5;

	transform: translateY(100%);

	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

	.project-container__item:hover & {
		transform: translateY(0);
	}
}

.wrapper {
	padding: 20px 24px;

	$border-color: #eeeeee;
	border-left: 1px solid $border-color;
	border-right: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
}

.wrapper__headline {
	margin-top: 0;
	margin-bottom: 4px;

	color: $titles-text-color;

	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.wrapper__subtitle {
	margin-top: 0;
	margin-bottom: 0;

	color: $primery-text-color;

	font-weight: 400;
	font-size: 16px;
	line-height: 1.87;
}
