// fonts
$font-logo: "Raleway", sans-serif;
$font-general: "Roboto", sans-serif;

// colors
$primery-text-color: #757575;
$background-color: #ffffff;
$secondary-background-color: #f5f4fa;
$titles-text-color: #212121;
$logo-text-color: #000000;
$accent-color: #2196f3;
$icon-color: #afb1b8;
